@model testApp.Models.films

@{
    ViewBag.Title = "Delete";
}



<h2>Вы действительно хотите удалить этот фильм?</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Да" class="btn btn-default" /> 
    <a class="btn btn-default" href="javascript:history.back()" style="margin-left:10px">Нет</a>
</div>
}
<hr />
<div style="margin: 30px">
    <div class="col-md-4">
        <img src=@Url.Content(Model.ImageUrl) style="width:95%" />
    </div>

    <div class="col-md-8">
        <h2>@Html.DisplayFor(model => model.FilmName)</h2>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Описание
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Desctiption)
            </dd>

            <dt>
                Режиссер
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>

            <dt>
                Год
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
        </dl>
    </div>
</div>
